<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.becresult">

    <uses-permission android:name="android,permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/becbgklogo"
        android:label="BECians"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".add_details"></activity>
        <activity android:name=".view_details" />
        <activity android:name=".Timetable" />
        <activity android:name=".result" />
        <activity
            android:name=".webplacement"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bookcse"
            android:label="Programming" />
        <activity
            android:name=".contactus"
            android:label="Contact" />
        <activity
            android:name=".about"
            android:label="About Becian" />
        <activity
            android:name=".pg"
            android:label="Post Graduate" />
        <activity
            android:name=".ug"
            android:label="Under Graduate" />
        <activity
            android:name=".ugpg"
            android:label="Graduate" />
        <activity
            android:name=".webresult"
            android:label="BEC Result Site" />
        <activity
            android:name=".cgpa_calculation"
            android:label="CGPA CALCULATION" />
        <activity
            android:name=".splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sgpa_calculation"
            android:label="SGPA CALCULATION" />
        <activity
            android:name=".MainActivity"
            android:label="BEC HOME" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>